:root {
    --primary-background-color: #ffdf99;
    --primary-text: #501e1f;
    --secondary-text: #B93238;
}

html {
    scroll-behavior:smooth;
}

@font-face {
    font-family: Rache;
    src: url(fonts/RacheRache.ttf);
}

@font-face {
    font-family: Playfair;
    src: url(fonts/PlayfairDisplay.ttf);
}

h1 span, h2, h3 {
    font-family: Rache;
    line-height: 140%;
    color: var(--secondary-text);
}

h2 {
    font-family: Rache;
    line-height: 140%;
    color: var(--secondary-text);
}

p, li {
    color: var(--primary-text);
    line-height: 180%;
}

* {
    font-family: Playfair;
    color: var(--primary-text);
}

.custom-font {
    font-family: Rache;
    font-weight: bolder;
    color: var(--secondary-text);
}

body {
    background-color: var(--primary-background-color);
}

