---
import { Image } from "astro:assets";
import signature from "../assets/images/signature.png";
---

<div>
  <footer class="bg-white mt-20">
    <div class="max-w-7xl mx-auto py-8">
      <div
        class="grid grid-cols-1 sm:grid-cols-3 justify-items-center pb-8 list-none"
      >
        <li class="mb-4 sm:mb-0 hover:font-bold"><a href="#">E-mail</a></li>
        <li class="mb-4 sm:mb-0 hover:font-bold">
          <Image src={signature} alt="Portrait of Ida" class="w-20" />
        </li>
        <li class="mb-4 sm:mb-0 hover:font-bold">
          <a href="#">LinkedIn</a>
        </li>
      </div>
      <div class="flex justify-center">
        <p>© <strong>Presentation</strong> Ida Hallbæck</p>
      </div>
    </div>
  </footer>
</div>
