---
import { Image } from "astro:assets";
import Signature from "../assets/images/signature.png";
---

<div>
  <footer class="mt-20 border-t border-[#501e1f] text-md lg:text-lg">
    <div class="max-w-7xl mx-auto py-8">
      <div
        class="grid grid-cols-1 sm:grid-cols-3 justify-items-center pb-8 list-none"
      >
      <li class="mb-4 sm:mb-0 hover:text-[#B93238]">
        <a href="CV-2025.pdf" target="_blank">Curriculum Vitae</a>
      </li>
      

        <li class="mb-4 sm:mb-0 hover:text-[#B93238]">
          <a href="mailto:idahallback@outlook.com">Happy to receive hello's!</a>
        </li>
        <li class="mb-4 sm:mb-0 hover:text-[#B93238]">
          <a href="https://www.linkedin.com/in/idahallback/" target="_blank"
            >LinkedIn</a
          >
        </li>
      </div>
      <div class="flex justify-center">
        <span class="mr-4">©</span>
        <div class="flex justify-center">
          <a href="#">
            <Image src={Signature} alt="Portrait of Ida" class="w-28" />
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- <script>
  const cvButton = document.getElementById("cv-button");
  cvButton.addEventListener("click", function () {
    window.open("CV-2025.pdf", "_blank");
  });
</script> -->
