<section id="InfoCard" class="lg:py-5 max-w-full flex justify-center">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-20 lg:ml-20">
    <div class="col-span-1 text-center lg:border-r border-[#501e1f] lg:pr-20">
      <h3 class="text-3xl lg:text-6xl pb-3">
        01. <br />
        <span class="text-2xl text-[#B93238]">Technology</span>
      </h3>
      <ul class="text-lg">
        <li>Alphine.js</li>
        <li>Astro</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>JavaScript</li>
        <li>JSON</li>
        <li>Tailwind</li>
        <li>SEO</li>
      </ul>
    </div>

    <div class="col-span-1 text-center lg:border-r border-[#501e1f] lg:pr-20">
      <h3 class="text-3xl lg:text-6xl pb-3">
        02. <br /><span class="text-2xl text-[#B93238]">Design</span>
      </h3>
      <ul class="text-lg">
        <li>Adobe Illustrator</li>
        <li>Adobe InDesign</li>
        <li>Adobe Photoshop</li>
        <li>Adobe Premiere Pro</li>
        <li>Adobe XD</li>
        <li>Figma</li>
        <li>Prototyping</li>
      </ul>
    </div>

    <div class="col-span-1 text-center lg:pr-20">
      <h3 class="text-3xl lg:text-6xl pb-3">
        03. <br /><span class="text-2xl text-[#B93238]">Method</span>
      </h3>
      <ul class="text-lg">
        <li>Content Creation</li>
        <li>Design Thinking</li>
        <li>Info Graphics</li>
        <li>Project Management</li>
        <li>SCRUM</li>
        <li>UX Research</li>
      </ul>
    </div>
  </div>
</section>
