<div x-data="{ showMenu: false }" class=" p-8 fixed w-full z-30 bg-[#FAF0E6]">
  <div class="flex justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center">
      <div class="logo-text text-2xl font-bold text-[#B93238]"><a href="#">IDA HALLBÆCK</a></div>
    </div>
    
    <!-- Desktop Menu -->
    <nav class="hidden lg:block">
      <ul class="flex gap-8 text-lg">
        <li class="hover:text-[#B93238]"><a href="#heading">Welcome</a></li>
        <li class="hover:text-[#B93238]"><a href="#why">Why me?</a></li>
        <li class="hover:text-[#B93238]"><a href="#aboutme">About me</a></li>
        <li class="hover:text-[#B93238]"><a href="#skills">Skills</a></li>
        <li class="hover:text-[#B93238]"><a href="#projects">Projects</a></li>
      </ul>
    </nav>
    
    <!-- Mobile Menu Button -->
    <button class="lg:hidden text-lg hover:text-[#B93238]" x-on:click="showMenu = !showMenu">Menu</button>
  </div>
  
  <!-- Mobile Menu -->
  <nav x-show="showMenu" class="lg:hidden mt-4 bg-[#FAF0E6] p-4" x-transition>
    <ul class="flex flex-col items-center text-lg gap-3">
      <li class="hover:text-[#B93238]"><a href="#heading">Welcome</a></li>
      <li class="hover:text-[#B93238]"><a href="#why">Why me?</a></li>
      <li class="hover:text-[#B93238]"><a href="#aboutme">About me</a></li>
      <li class="hover:text-[#B93238]"><a href="#skills">Skills</a></li>
      <li class="hover:text-[#B93238]"><a href="#projects">Projects</a></li>
    </ul>
  </nav>
</div>
