---
import { Image } from "astro:assets";
import Ida from "../assets/images/Ida.jpg";
---

<div class="grid grid-cols-1 sm:grid-cols-3 gap-4 px-5 mt-14 lg:mt-36">
  <div class="col-span-1">
    <h3 class="text-4xl lg:text-5xl pb-4">About me</h3>
    <div class="mr-10 text-lg pb-6">
      <p>
        I am a curious and passionate individual with a love for exploring the world through both creativity and human connection. When I'm not designing, you will find me immersed in art, music, literature, or cooking—each offering a unique way to express myself and discover new perspectives. My resourcefulness and sense of humor keep me grounded, and I believe a positive attitude and a collaborative spirit are key to creating meaningful experiences, both in design and in life.
      </p>
    </div>
  </div>

  <div class="sm:block">
    <Image src={Ida} alt="Portrait" class="w-max" />
  </div>

  <div class="col-span-1 md:ml-10">
    <h3 class="text-4xl lg:text-5xl pb-4 pt-5 lg:pt-0">Details</h3>
    <ul class="list-none text-lg mb-6 leading-loose">
      <li><strong>Full name:</strong> Ida Lærke Hallbæck-Andersen</li>
      <li><strong>Date of birth:</strong> November 14th, 1995</li>
      <li><strong>Location:</strong> Hellerup, Copenhagen, Denmark</li>
      <br>
      <strong>Institution:</strong> KEA – Copenhagen School of Design and Technology
      <br>
      <li><strong>Education:</strong> APD in Multi Media Design</li>
      <li><strong>Current programme:</strong> PBA in Digital Concept Development</li>
      <li>
      </li>
    </ul>
  </div>
</div>

<style>
  li {
    line-height: 180%;
  }
</style>
