<div class="p-4 mt-10 lg:mt-20">
  <h1 class="text-[#B93238] text-5xl lg:text-6xl pb-10 lg:text-center">
    Skills
  </h1>
  <section class="max-w-full flex lg:justify-center">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 lg:gap-20 lg:ml-20">
      <div
        class="col-span-1 text-left lg:text-center lg:border-r border-[#501e1f] lg:pr-20 fade-in"
      >
        <h3 class="text-3xl lg:text-6xl">
          01. <br />
          <span class="text-2xl text-[#B93238]">Technology</span>
        </h3>
        <ul class="text-lg">
          <li>Alphine.js</li>
          <li>Astro</li>
          <li>CSS</li>
          <li>HTML</li>
          <li>JavaScript</li>
          <li>JSON</li>
          <li>Tailwind</li>
          <li>SEO</li>
        </ul>
      </div>

      <div
        class="col-span-1 text-left lg:text-center lg:border-r border-[#501e1f] lg:pr-20 fade-in"
      >
        <h3 class="text-3xl lg:text-6xl">
          02. <br /><span class="text-2xl text-[#B93238]">Design</span>
        </h3>
        <ul class="text-lg">
          <li>Adobe Illustrator</li>
          <li>Adobe InDesign</li>
          <li>Adobe Photoshop</li>
          <li>Adobe XD</li>
          <li>Figma</li>
          <li>Info Graphics</li>
          <li>Prototyping</li>
        </ul>
      </div>

      <div class="col-span-1 text-left lg:text-center pr-20 fade-in">
        <h3 class="text-3xl lg:text-6xl">
          03. <br /><span class="text-2xl text-[#B93238]">Method</span>
        </h3>
        <ul class="text-lg">
          <li>Adobe Premiere Pro</li>
          <li>Benchmarking</li>
          <li>Content Creation</li>
          <li>Design Thinking</li>
          <li>Project Management</li>
          <li>SCRUM</li>
          <li>UX Research</li>
        </ul>
      </div>
    </div>
  </section>

  <style>
    h1 {
      font-family: Rache;
    }

    .fade-in {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .fade-in.visible {
      opacity: 1;
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const elements = document.querySelectorAll(".fade-in");

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("visible");
            }
          });
        },
        { threshold: 0.5 }
      );

      elements.forEach((element) => {
        observer.observe(element);
      });
    });
  </script>
</div>
