<div class="grid grid-cols-1 md:grid-cols-2 lg:gap-10 px-5 mt-8 lg:mt-20">
  <div class="flex items-center justify-center col-span-1 sm:order-2"></div>
  <h3 class="text-4xl lg:text-5xl lg:text-right py-5 lg:py-0 fade-in">
    What makes me stand out?
  </h3>
  <p class="text-xl leading-relaxed">
    I am driven by a passion for continuous growth and creative problem-solving, always striving to push boundaries and craft meaningful digital experiences. <br> I approach design with a holistic perspective, combining aesthetics with functionality to create intuitive, engaging experiences.
    <br /><br />
     My curiosity, adaptability, and strong collaboration skills allow me to thrive in dynamic environments, while my technical proficiency ensures I can bring ideas to life with precision.
  </p>
</div>

<style>
  .fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  .fade-in.visible {
    opacity: 1;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const elements = document.querySelectorAll(".fade-in");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          }
        });
      },
      { threshold: 0.5 }
    );

    elements.forEach((element) => {
      observer.observe(element);
    });
  });
</script>
